body {
    background: #141E30;  
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to right, #243B55, #141E30); 
    color: #fff;
}

nav {
    background: #393B50
}

.mb-50{
    margin-bottom: 35rem;
}
.border-menu {
    border: 1px solid #00EDFF;
}



.btn-rounded {
    border-radius: 35px;
}

.btn-fab {
    height: 50px;
    width: 53px;
    border-radius: 50%;
}

hr {
    border-top: 1px solid #9E9E9E;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 0px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 10px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
.btn-hover.color-12 {
    background-image: linear-gradient(to right, #C3FF48, #40e495, #30dd8a, #00FF80);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    font-size: 20px;
    color: #636363;
    font-weight: bold;
}
.btn-hover.color-13 {
    padding: auto;
    background-image: linear-gradient(to right, #A87DD2, #4879c4,#8457be,#9e75b1);
    box-shadow: 0 4px 15px 0 rgba(130, 84, 182, 0.75);
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
.width180{
    width: 180px;
}
.btn-hover.color-14 {
    background-image: linear-gradient(to right, #14cfc9, #00B9FF,#53cbf7,#1fa8a4);
    box-shadow: 0 4px 15px 0 rgba(0, 140, 165, 0.75);
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
.btn-hover.color-15 {
    background-image: linear-gradient(to right, #FFA561, #FF6ACD,#d83aa3,#e97924);
    box-shadow: 0 4px 15px 0 rgba(153, 80, 149, 0.75);
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
.btn-hover.color-16 {
    background-image: linear-gradient(to right, #ff854d, #FFAA00,#ee9117,#ffb95e);
    box-shadow: 0 4px 15px 0 rgba(167, 112, 11, 0.75);
    font-size: 20px;
    font-weight: bold; 
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
.btn-hover.color-17 {
    background-image: linear-gradient(to right, #dc9fec, #b030df,#b91ef1,#cb64e7);
    box-shadow: 0 4px 15px 0 rgba(90, 0, 126, 0.75);
    font-size: 20px;
    font-weight: bold; 
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
.btn-hover.color-18 {
    background-image: linear-gradient(to right, #76ee9a, #37a72b,#42be34,#79c071);
    box-shadow: 0 4px 15px 0 rgba(0, 95, 24, 0.75);
    font-size: 20px;
    font-weight: bold; 
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.roundLeft{
    border-radius: 10px 0px 0px 10px; 
}
.roundRight{
    border-radius: 0px 10px 10px 0px; 
}



.badgebox
{
    opacity: 0;
    
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
    
    background-color: #FFFFFF;
    
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
    
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
    color: #161616;

}

.btn-person, .btn-person:hover{
    background-color: #AA9CFC;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-norp, .btn-norp:hover{
    background-color: #C887FB;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-org, .btn-org:hover{
    background-color: #7AECEC;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-gpe, .btn-gpe:hover{
    background-color: #FECA74;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-loc, .btn-loc:hover{
    background-color: #FF9561;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-product, .btn-product:hover{
    background-color: #BFEEB7;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-event, .btn-event:hover{
    background-color: #BFBFBF;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-workofart, .btn-workofart:hover{
    background-color: #BFBFBF;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-language, .btn-language:hover{
    background-color: #BFBFBF;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-date, .btn-date:hover{
    background-color: #BFE1D9;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}

.btn-percent, .btn-percent:hover{
    background-color: #E4E7D2;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-money, .btn-money:hover{
    background-color: #E4E7D2;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-quantity, .btn-quantity:hover{
    background-color: #E4E7D2;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-ordinal, .btn-ordinal:hover{
    background-color: #E4E7D2;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
.btn-cardinal, .btn-cardinal:hover{
    background-color: #E4E7D2;
    font-weight: bold;
    color: #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px; 
}
