<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.redirect.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Document</title>
</head>
<body onload="init()">
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
            <a class="navbar-brand text-light" href="/">Home</a>
        </div>
    </nav>
    <div class="container jumbotron d-flex align-items-center min-vh-100">
        
          
            <div class="w-100 mb-50">
                <div class="text-center mb-4">
                    <h1>Input your text</h1>
                </div>
                <div class="border border-primary p-4 rounded">
                    <div class="btn-group mb-3" role="group" >
                        <input type="radio" class="btn-check" id="input1" name="inputtype" value="1" checked onchange="handleInputTypeChange(this)">
                        <label for="input1" class="btn btn-outline-primary">Upload text file</label>
                        <input type="radio" class="btn-check" id="input2" name="inputtype" value="2" onchange="handleInputTypeChange(this)">
                        <label for="input2" class="btn btn-outline-primary">Type text</label>
                    </div>
    
                    <form action="{{MAIN_URL}}main" method="POST" enctype="multipart/form-data" id="fileform" onsubmit="event.preventDefault();">
                        <input class="form-control form-control-lg" id="file" type="file" name="file[]" multiple accept=".txt"/>
                        <div class="d-flex justify-content-center mt-2">
                            <button class="btn btn-hover color-12 width180" onclick="submitFileInput()">OK</button>
                        </div>
                    </form>
                    <form action="{{MAIN_URL}}main" method="POST" style="display: none;" id="typeform" onsubmit="event.preventDefault();">
                        <div class="form-group">
                            <textarea class="form-control" name="textinput" id="textinput" rows="5" placeholder="Type your text"></textarea>
                            <div class="d-flex justify-content-center mt-2">
                                <button class="btn btn-hover color-12 width180" onclick="submitTextArea()">OK</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
            
        
        
    </div>
</body>
<script>
    function init() {
        document.getElementById('file').addEventListener('change', handleFileSelect, false);
    }


    function handleInputTypeChange(radio){
        let typeform = document.getElementById('typeform')
        let fileform = document.getElementById('fileform')
        if(radio.value == 1){
            document.getElementById('textinput').value = '';
            fileform.style.display = 'block'
            typeform.style.display = 'none'
        }else{
            document.getElementById("file").value = "";
            fileform.style.display = 'none'
            typeform.style.display = 'block'
        }
    }

    var articles = []
    var filenames = []
    function handleFileSelect(event) {
        articles = []
        filenames = []
        if(event.target.files.length > 0){
            for (let i = 0;i<event.target.files.length;i++){
                reader = new FileReader()
                reader.fileName = event.target.files[i].name
                reader.onload = function(e){
                    articles.push(e.target.result)
                    filenames.push(e.target.fileName)
                }
                reader.readAsText(event.target.files[i])
                
            }
        }
    }


    var url = '{{MAIN_URL}}main'
    function submitFileInput(){
        if(articles.length > 0 && filenames.length > 0 && articles.length == filenames.length){
            let inputTag = '';
            for(let i = 0;i<filenames.length;i++){
                inputTag += '<input type="hidden" name="filenames" value="' + filenames[i] + '" />'+
                '<input type="hidden" name="articles" value="' + articles[i].replaceAll('"','&quot;') + '" />'
            }
            let form = $('<form action="' + url + '" method="post">' + inputTag + '</form>');
            $('body').append(form);
            document.getElementById("file").value = "";//reset file input
            //console.log(inputTag)
            form.submit().remove();
        }
        
        
    }

    function submitTextArea(){
        let data = document.getElementById('textinput').value
        if(data != ''){
            articles = []
            filenames = []
            articles.push(data)

            
            let form = $('<form action="' + url + '" method="post">'  
                +'<input type="hidden" name="articles" value="' + articles[0].replaceAll('"','&quot;') + '" />'
                + '</form>');
            $('body').append(form);

            document.getElementById('textinput').value = '';//reset textarea
            document.getElementById("input1").checked = true;
            let typeform = document.getElementById('typeform')
            let fileform = document.getElementById('fileform')
            fileform.style.display = 'block'
            typeform.style.display = 'none'
            form.submit().remove();
        }
        
        
    }
    
</script>
</html>