<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
            <a class="navbar-brand text-light" href="/">Home</a>
        </div>
    </nav>
    <div class="container">
        <div class="mt-5">
            <div class="text-info">Menu</div>
            <div class="border-menu p-2 rounded">
                <button class="btn btn-hover color-13" id="btnSearch" disabled>Search word</button>
                <button class="btn btn-hover color-14" id="btnNER" >Named-entity recognition</button>
                <button class="btn btn-hover color-15" id="btnSentiment">Sentiment Analysis</button>
                <button class="btn btn-hover color-16" id="btnFakeNews">Fake news prediction</button>
                <button class="btn btn-hover color-17" id="btnBag">Bag of word</button>
                <button class="btn btn-hover color-18" id="btnTFIDF">TF-IDF</button>
            </div>
        </div>
    </div>

    <!-- Page Name -->
    <div class="container">
        <div class="mt-4 mb-4">
            <h2 class="fw-bold" id="pageName"></h2>
        </div>
    </div>
    
    <!-- Loading Icon -->
    <div class="container " id="loadIcon" style="display: none;">
        <div class="d-flex justify-content-center mt-5">
            <div class="spinner-grow me-3 ms-3" role="status">
                
            </div>
            <div class="spinner-grow me-3 ms-3" role="status">
                
            </div>
            <div class="spinner-grow me-3 ms-3" role="status">
                
            </div>
            <div class="spinner-grow me-3 ms-3" role="status">
                
            </div>
        </div>
        
    </div>

    <!-- searchPage -->
    <div class="container mb-3" id="searchPage">
        <form action="#" method="POST" id="searchform" class="mb-2" onsubmit="event.preventDefault();">
            <div class="row row-cols-auto g-0">
                <div class="col">
                    <input type="text" id="search" placeholder="Word to search" name="search" class="form-control roundLeft ">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary roundRight"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg></button>
                </div>
                <div class="col" style="height: 50px;">
                    <h5 class="ms-5 " id="searchResult"></h5>
                    <!-- <div class="box" ><h5 id="searchResult"></h5></div> -->
                </div>
            </div>
        </form>
    </div>

    <!-- NerPage -->
    <div class="container mb-5" id="NerPage" style="display: none;">
        
        <div class="ps-3">
            <label for="person" class="btn btn-person" onchange="UpdateNer(this)">PERSON <input type="checkbox" id="person" class="badgebox" value="PERSON"><span class="badge">&check;</span></label>
            <label for="norp" class="btn btn-norp" onchange="UpdateNer(this)">NORP <input type="checkbox" id="norp" class="badgebox" value="NORP"><span class="badge">&check;</span></label>
            <label for="org" class="btn btn-org" onchange="UpdateNer(this)">ORG <input type="checkbox" id="org" class="badgebox" value="ORG"><span class="badge">&check;</span></label>
            <label for="gpe" class="btn btn-gpe" onchange="UpdateNer(this)">GPE <input type="checkbox" id="gpe" class="badgebox" value="GPE"><span class="badge">&check;</span></label>
            <label for="loc" class="btn btn-loc" onchange="UpdateNer(this)">LOC <input type="checkbox" id="loc" class="badgebox" value="LOC"><span class="badge">&check;</span></label>
            <label for="product" class="btn btn-product" onchange="UpdateNer(this)">PRODUCT <input type="checkbox" id="product" class="badgebox" value="PRODUCT"><span class="badge">&check;</span></label>
            <label for="event" class="btn btn-event" onchange="UpdateNer(this)">EVENT <input type="checkbox" id="event" class="badgebox" value="EVENT"><span class="badge">&check;</span></label>
            <label for="workofart" class="btn btn-workofart" onchange="UpdateNer(this)">WORK OF ART <input type="checkbox" id="workofart" class="badgebox" value="WORK OF ART"><span class="badge">&check;</span></label>
            <label for="language" class="btn btn-language" onchange="UpdateNer(this)">LANGUAGE <input type="checkbox" id="language" class="badgebox" value="LANGUAGE"><span class="badge">&check;</span></label>
            <label for="date" class="btn btn-date" onchange="UpdateNer(this)">DATE <input type="checkbox" id="date" class="badgebox" value="DATE"><span class="badge">&check;</span></label>
            <label for="percent" class="btn btn-percent" onchange="UpdateNer(this)">PERCENT <input type="checkbox" id="percent" class="badgebox" value="PERCENT"><span class="badge">&check;</span></label>
            <label for="money" class="btn btn-money" onchange="UpdateNer(this)">MONEY <input type="checkbox" id="money" class="badgebox" value="MONEY"><span class="badge">&check;</span></label>
            <label for="quantity" class="btn btn-quantity" onchange="UpdateNer(this)">QUANTITY<input type="checkbox" id="quantity" class="badgebox" value="QUANTITY"><span class="badge">&check;</span></label>
            <label for="ordinal" class="btn btn-ordinal" onchange="UpdateNer(this)">ORDINAL<input type="checkbox" id="ordinal" class="badgebox" value="ORDINAL"><span class="badge">&check;</span></label>
            <label for="cardinal" class="btn btn-cardinal" onchange="UpdateNer(this)">CARDINAL<input type="checkbox" id="cardinal" class="badgebox" value="CARDINAL"><span class="badge">&check;</span></label>
        </div>
        
    </div>

    <!-- Sentiment Page -->
    <div class="container" id="SentimentPage" style="display: none;">
        <div class="d-flex justify-content-center">
            <div class="d-inline-block ms-3 me-3">
                <div class=" d-inline-block "><span class="circlePositive"></span></div>
                <div class="d-inline-block"><h3>Positive</h3></div>
            </div>
            <div class="d-inline-block ms-3 me-3" >
                <div class="d-inline-block"><span class="circleNeutral"></span></div>
                <div class="d-inline-block"><h3>Neutral</h3></div>
            </div>
            <div class="d-inline-block ms-3 me-3">
                <div class="d-inline-block"><span class="circleNegative"></span></div>
                <div class="d-inline-block"><h3>Negative</h3></div>
            </div>
            
        </div>
    </div>

    <!-- Fakenews Prediction Page -->
    <div class="container" id="FakenewsPage" style="display: none;">
        <div class="d-flex justify-content-center">
            <div class="d-inline-block ms-3 me-3" >
                <div class="d-inline-block"><span class="circleNeutral"></span></div>
                <div class="d-inline-block"><h3>Real news</h3></div>
            </div>
            <div class="d-inline-block ms-3 me-3">
                <div class="d-inline-block"><span class="circleFakenews"></span></div>
                <div class="d-inline-block"><h3>Fake news</h3></div>
            </div>
            
        </div>
    </div>

    <!-- Bag of word Page -->
    <div class="container" id="BagPage" style="display: none;">
        <div class="row" >
            <div class="col-5">
                <div  id="loadBagIcon" style="display: none;">
                    <div class="d-flex justify-content-center mt-5">
                        <div class="spinner-grow me-3 ms-3" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow me-3 ms-3" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow me-3 ms-3" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow me-3 ms-3" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div id="BagContent" style="display: none;">
                    <div class="row">
                        <div class="form-check col-6 d-flex justify-content-center">
                            <input class="form-check-input radio-font me-2" type="radio" name="BagCount" id="BagRadio1" checked onchange="updateBOWTable()">
                            <label class="form-check-label radio-font" for="BagRadio1">
                                All word
                            </label>
                        </div>
                        <div class="form-check col-6 d-flex justify-content-center">
                            <input class="form-check-input radio-font me-2" type="radio" name="BagCount" id="BagRadio2" onchange="updateBOWTable()">
                            <label class="form-check-label radio-font" for="BagRadio2">
                                Top 5
                            </label>
                        </div>
                    </div>
                    
                    <div class="">
                        <table class="table text-white mt-2" id="BagTable">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Word</th>
                                <th scope="col">Quantity</th>
                              </tr>
                            </thead>
                            <tbody id="BagTableBody">
                              <!-- bag of word content -->
                            </tbody>
                          </table>
                    </div>
                </div>
                
            </div>
            <div class="col-7" id="contentFieldBag">
                
            </div>
        </div>
    </div>
    
    <div class="container" id="tfidfPage" style="display: none;">
        <div class="row">
            <div class="col-5">
                <div  id="loadTfidfIcon" style="display: none;">
                    <div class="d-flex justify-content-center mt-5">
                        <div class="spinner-grow me-3 ms-3" role="status">
                            
                        </div>
                        <div class="spinner-grow me-3 ms-3" role="status">
                            
                        </div>
                        <div class="spinner-grow me-3 ms-3" role="status">
                            
                        </div>
                        <div class="spinner-grow me-3 ms-3" role="status">
                            
                        </div>
                    </div>
                </div>
                <div id="TfidfContent" style="display: none;">
                    <div class="row">
                        <div class="form-check col-6 d-flex justify-content-center">
                            <input class="form-check-input radio-font me-2" type="radio" name="TFIDF" id="TFIDFRadio1" checked onchange="updateTfidfTable()">
                            <label class="form-check-label radio-font" for="TFIDFRadio1">
                                All word
                            </label>
                        </div>
                        <div class="form-check col-6 d-flex justify-content-center">
                            <input class="form-check-input radio-font me-2" type="radio" name="TFIDF" id="TFIDFRadio2" onchange="updateTfidfTable()">
                            <label class="form-check-label radio-font" for="TFIDFRadio2">
                                Top 5
                            </label>
                        </div>
                    </div>
                    
                    <div class="">
                        <table class="table text-white mt-2" id="tfidfTable">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Word</th>
                                <th scope="col">TF-IDF</th>
                              </tr>
                            </thead>
                            <tbody id="tfidfTableBody">
                              <!-- TF-IDF content -->
                            </tbody>
                          </table>
                    </div>
                </div>
                <h3 class="mt-5" id="TFIDF_Fail" style="display: none;">Cannot calculate TF-IDF because there is only 1 article</h3>
            </div>
            <div class="col-7" id="contentFieldtfidf">

            </div>
        </div>
    </div>



    <div class="container">
        <div id="fileContent">
            
        </div>
    </div>
</body>
<script type="text/javascript">
    //get data
    var data = {{data|tojson}}
    //console.log(data)
    var articles = data.articles
    var filenames = data.filenames
    data = ''

    //for keep nerHTML
    var NerhtmlList

    //for keep check ner
    var nerCheckList = []

    //for keep BOW
    var BagwordList = []
    var BagquantityList = []

    //foe keep tfidf
    var TfdfWordList = []
    var TfidfValueList = []

    //TFIDF Fail text
    var TFIDF_Fail = document.getElementById('TFIDF_Fail')

    var TFIDFRadio1 = document.getElementById('TFIDFRadio1')
    var TFIDFRadio2 = document.getElementById('TFIDFRadio2')

    var BagRadio1 = document.getElementById('BagRadio1')
    var BagRadio2 = document.getElementById('BagRadio2')

    //
    var pageName = document.getElementById('pageName')
    var loadIcon = document.getElementById('loadIcon')
    var loadBagIcon = document.getElementById('loadBagIcon')
    var loadTfidfIcon = document.getElementById('loadTfidfIcon')

    var searchPage = document.getElementById('searchPage')
    var NerPage = document.getElementById('NerPage')
    var SentimentPage = document.getElementById('SentimentPage')
    var FakenewsPage = document.getElementById('FakenewsPage')
    var BagPage = document.getElementById('BagPage')
    var tfidfPage = document.getElementById('tfidfPage')

    var btnSearch = document.getElementById('btnSearch')
    var btnNER = document.getElementById('btnNER')
    var btnSentiment = document.getElementById('btnSentiment')
    var btnFakeNews = document.getElementById('btnFakeNews')
    var btnBag = document.getElementById('btnBag')
    var btnTFIDF = document.getElementById('btnTFIDF')
    
    
    
    var contentfield = document.getElementById('fileContent')
    var contentFieldBag = document.getElementById('contentFieldBag')
    var contentFieldtfidf = document.getElementById('contentFieldtfidf')
    var BagTableBody = document.getElementById('BagTableBody') 
    var tfidfTableBody = document.getElementById('tfidfTableBody')  
    var BagContent = document.getElementById('BagContent') 
    var TfidfContent = document.getElementById('TfidfContent')


    //keep ajax request
    var ajaxSearch,ajaxNER,ajaxSentiment,ajaxFakenews,ajaxBOW,ajaxTFIDF;
    var xhr
    //set first page (search Page)
    setSearchPage()

    //search Page
    $('#searchform').submit(function(e){
        e.preventDefault()
        let searchResultarea = document.getElementById('searchResult')

        //sent request to get result
        let searchword = document.getElementById('search').value
        if(searchword.trim() != ''){
            //clear search result
            searchResultarea.innerHTML = ''
            searchResultarea.innerHTML = '<div class="spinner-border text-primary mt-1" role="status"></div>'
            xhr =  $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "searchword",
                dataType: "json",
                data: JSON.stringify({articles: articles, search: searchword}),
                success: function (response) {
                    searchResultarea.innerHTML = ''
                    //console.log(response)
                    let searchresult = response['searchresult']
                    let count_Raw = response['count_Raw']
                    let count_Bag = response['count_Bag']
                    let htmlList = response['htmlList']
                    
                    if(count_Raw <= 0){
                        searchResultarea.innerHTML += 'Couldn\'t find the word \"'+searchword+'\"in your text'
                        if(count_Bag <= 0){
                            searchResultarea.innerHTML += '<br>and couldn\'t find the word \"'+searchword+'\" in the bag of words.'
                        }else{
                            searchResultarea.innerHTML += '<br>but found '+count_Bag+ ' \"'+searchresult+'\" words in the bag of word.'
                        }
                    }else{
                        searchResultarea.innerHTML = 'Found '+count_Raw+' \"'+searchword+'\"  word in your text'
                        if(count_Bag <= 0){
                            searchResultarea.innerHTML += '<br>but couldn\'t find the word \"'+searchword+'\" in the bag of words.'
                        }else{
                            searchResultarea.innerHTML += '<br>and found '+count_Bag+ ' \"'+searchword+'\" words in the bag of word.'
                        }
                    }
                    clearContentField()
                    for(let i = 0;i<htmlList.length;i++){
                        //add file name
                        contentfield.appendChild(createFileNameTag(filenames[i]))

                        //add content
                        let p = document.createElement('p');
                        p.setAttribute('style','white-space: pre-line; line-height: 2.5; direction: ltr ')
                        p.innerHTML = htmlList[i].trim();
                        contentfield.appendChild(p);
                        let hrtag = document.createElement("hr")
                        hrtag.setAttribute('class','mb-4 mt-4 fileLine')
                        contentfield.appendChild(hrtag);       
                    }
                }
            });
        }
        
    })
    $('#btnSearch').click(function(e){
        setSearchPage()
    })
    function setSearchPage(){
        clearFeture()
        setPageName('Search word')
        clearContentField()
        btnSearch.setAttribute("disabled", "");    
        searchPage.style.display = 'block'
        resetContentField()
    }
    
    //NER Page
    $('#btnNER').click(function(e){
        setNerPage()
    });
    function setNerPage(){
        clearFeture()
        loadIcon.style.display = 'block'
        setPageName('Named-entity recognition')
        resetContentField()
        btnNER.setAttribute("disabled", ""); 
        //NerPage.style.display = 'block'
        xhr =  $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "entlabel",
            dataType: "json",
            data: JSON.stringify({articles: articles}),
            success: function(response){
                let htmlList = response['nerList'];
                NerhtmlList = htmlList//keep to global
                //setNER(htmlList)
                loadIcon.style.display = 'none'
                NerPage.style.display = 'block'
            }
        })
    }
    function UpdateNer(item){
        item = item.childNodes[1]
        let value = item.value
        if(item.checked){
            nerCheckList.push(value)
        }else{//remove from nercheckList
            nerCheckList = nerCheckList.filter(function(str,index,arr){
                return str != value
            })
        }
        //console.log(nerCheckList)
        setContentfieldNER()    
    }
    function setContentfieldNER(){
        clearContentField()
        for(let i = 0;i<NerhtmlList.length;i++){
            //add file name
            contentfield.appendChild(createFileNameTag(filenames[i]))

            let div = document.createElement('div');
            div.innerHTML = NerhtmlList[i].trim();
           
            let entities = div.firstChild
            for(let j = 0;j<entities.childNodes.length;j++){
                if(entities.childNodes[j].className == 'entity'){
                    let entLabel = entities.childNodes[j].childNodes[1].innerText
                    if(!(nerCheckList.includes(entLabel))){
                        let data = entities.childNodes[j].childNodes[0]
                        entities.replaceChild(data,entities.childNodes[j])
                    }
                }
            }
            contentfield.appendChild(div);
            let hrtag = document.createElement("hr")
            hrtag.setAttribute('class','mb-4 mt-4')
            contentfield.appendChild(hrtag);
        }
    }
    function clearNercheckList(){
        document.getElementById('person').checked = false
        document.getElementById('norp').checked = false
        document.getElementById('org').checked = false
        document.getElementById('gpe').checked = false
        document.getElementById('loc').checked = false
        document.getElementById('product').checked = false
        document.getElementById('event').checked = false
        document.getElementById('workofart').checked = false
        document.getElementById('language').checked = false
        document.getElementById('date').checked = false
        document.getElementById('percent').checked = false
        document.getElementById('money').checked = false
        document.getElementById('quantity').checked = false
        document.getElementById('ordinal').checked = false
        document.getElementById('cardinal').checked = false
    }

    //sentiment Page
    $('#btnSentiment').click(function(e){
        setSentimentPage()
    })
    function setSentimentPage(){
        clearFeture()
        loadIcon.style.display = 'block';
        setPageName('Sentiment Analysis');
        resetContentField()
        btnSentiment.setAttribute("disabled", ""); 
        xhr =  $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "sentiment",
            dataType: "json",
            data: JSON.stringify({articles: articles}),
            success: function(response){
                loadIcon.style.display = 'none';
                SentimentPage.style.display = 'block'
                polarityList = response['polarity']
                subjectivityList = response['subjectivity']
                clearContentField();
                for(let i=0;i<articles.length;i++){
                    //add file name
                    contentfield.appendChild(createFileNameTag(filenames[i]))
                    //add file content
                    Ptag = document.createElement("p");
                    if(polarityList[i] > 0){
                        Ptag.classList.add('text-positive')
                    }else if(polarityList[i] < 0 ){
                        Ptag.classList.add('text-negativ')
                    }
                    Ptag.setAttribute('style','white-space: pre-line; line-height: 2.5; direction: ltr;' )
                    
                    let article = articles[i]
                    Ptag.appendChild(document.createTextNode(article));
                    contentfield.appendChild(Ptag);

                    //add line
                    let hrtag = document.createElement("hr")
                    hrtag.setAttribute('class','mb-4 mt-4 fileLine')
                    contentfield.appendChild(hrtag);
                }

            }
        })
    }

    //fakenews Page
    $('#btnFakeNews').click(function(e){
        setFakenewsPredic()
    })
    function setFakenewsPredic(){
        clearFeture()
        loadIcon.style.display = 'block';
        setPageName('Fake news prediction');
        resetContentField()
        btnFakeNews.setAttribute("disabled", ""); 
        xhr =  $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "fakeNews",
            dataType: "json",
            data: JSON.stringify({articles: articles}),
            success: function(response){
                loadIcon.style.display = 'none';
                FakenewsPage.style.display = 'block';
                let result = response['predic']
                clearContentField();
                for(let i=0;i<articles.length;i++){
                    //add file name
                    contentfield.appendChild(createFileNameTag(filenames[i]))
                    //add file content
                    Ptag = document.createElement("p");
                    if(result[i] == 'fake'){
                        Ptag.classList.add('text-fakenews')
                    }
                    Ptag.setAttribute('style','white-space: pre-line; line-height: 2.5; direction: ltr;')
                    
                    let article = articles[i]
                    Ptag.appendChild(document.createTextNode(article));
                    contentfield.appendChild(Ptag);

                    //add line
                    let hrtag = document.createElement("hr")
                    hrtag.setAttribute('class','mb-4 mt-4 fileLine')
                    contentfield.appendChild(hrtag);
                }
            }
        })
            
    }

    //bag Page
    $('#btnBag').click(function(e){
        setBagPage()
    })
    function setBagPage(){
        clearFeture()
        setPageName('Bag of word');
        resetContentField(contentFieldBag)
        loadBagIcon.style.display = 'block'
        btnBag.setAttribute("disabled", ""); 
        disabledContentField();
        BagPage.style.display = 'block'
        xhr = $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "bag",
            dataType: "json",
            data: JSON.stringify({articles: articles}),
            success:function(response){
                BagwordList = response['word']
                BagquantityList = response['quantity']
                updateBOWTable()
                loadBagIcon.style.display = 'none'
                BagContent.style.display = 'block'

            }
        });

    }
    function updateBOWTable(){
        BagTableBody.innerHTML = ''
        let maxWord = BagwordList.length
        if(BagRadio2.checked && maxWord >= 5){
            maxWord = 5
        }
        for(let i = 0;i<maxWord;i++){
            let tr = document.createElement("tr");

            let th = document.createElement("th");
            th.setAttribute('scope','row')
            th.innerHTML = i+1
            tr.appendChild(th)

            let td = document.createElement('td');
            td.innerHTML = BagwordList[i]
            tr.appendChild(td)

            td = document.createElement('td');
            td.innerHTML = BagquantityList[i]
            tr.appendChild(td)

            BagTableBody.appendChild(tr)

        }
    }

    //tfidf Page
    $('#btnTFIDF').click(function(e){
        setTfidfPage()
    })
    function setTfidfPage(){
        clearFeture()
        setPageName('TF-IDF');
        resetContentField(contentFieldtfidf)
        loadTfidfIcon.style.display = 'block'
        btnTFIDF.setAttribute("disabled", "");
        disabledContentField(); 
        tfidfPage.style.display = 'block'
        xhr = $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "tfidf",
            dataType: "json",
            data: JSON.stringify({articles: articles}),
            success:function(response){
                console.log(response)
                TfdfWordList = response['word']
                TfidfValueList = response['tfidf']
                updateTfidfTable()
                
                
            }
        })
    }
    function updateTfidfTable(){
        tfidfTableBody.innerHTML = ''
        let maxWord = TfdfWordList.length
        
        if(maxWord != 0){
            if(TFIDFRadio2.checked  && maxWord >= 5){
                maxWord = 5
            }
            for(let i = 0;i<maxWord;i++){
                let tr = document.createElement("tr");

                let th = document.createElement("th");
                th.setAttribute('scope','row')
                th.innerHTML = i+1
                tr.appendChild(th)

                let td = document.createElement('td');
                td.innerHTML = TfdfWordList[i]
                tr.appendChild(td)

                td = document.createElement('td');
                td.innerHTML = TfidfValueList[i]
                tr.appendChild(td)

                tfidfTableBody.appendChild(tr)
                TfidfContent.style.display = 'block'
            }
        }else{
            TfidfContent.style.display = 'none'
            TFIDF_Fail.style.display = 'block'
        }
        loadTfidfIcon.style.display = 'none'
                
        
    }

    function clearFeture(){
        //clear request
        if(xhr){
            xhr.abort()    
        }

        //clear loadICON
        loadIcon.style.display = 'none'

        //clear search
        searchPage.style.display = 'none'
        btnSearch.removeAttribute('disabled');
        document.getElementById('search').value = '';
        document.getElementById('searchResult').innerHTML = '';

        //clear NER
        NerPage.style.display = 'none'
        btnNER.removeAttribute('disabled');
        nerCheckList = []
        clearNercheckList()

        //clear sentiment
        SentimentPage.style.display = 'none'
        btnSentiment.removeAttribute('disabled');

        //clear fakenewsPrediction
        FakenewsPage.style.display = 'none'
        btnFakeNews.removeAttribute('disabled');

        //clear bag of word
        BagPage.style.display = 'none'
        btnBag.removeAttribute('disabled');
        enableContentField();
        BagTableBody.innerHTML = ''
        BagContent.style.display = 'none'
        


        //clear tf-idf
        tfidfPage.style.display = 'none';
        btnTFIDF.removeAttribute('disabled');
        enableContentField();
        tfidfTableBody.innerHTML = ''
        TfidfContent.style.display = 'none'
        TFIDF_Fail.style.display = 'none'
        


        
        


    }

    function clearContentField(){
        contentfield.innerHTML = ''
        contentFieldBag.innerHTML = ''
        contentFieldtfidf.innerHTML = ''
    }
    function resetContentField(contentTag){
        if (!contentTag){
            contentTag = contentfield
        }
        clearContentField();
        for(let i = 0;i<articles.length;i++){
            //add file name
            contentTag.appendChild(createFileNameTag(filenames[i]))

            //add file content
            let Ptag = document.createElement("p");
            Ptag.setAttribute('style','white-space: pre-line; line-height: 2.5; direction: ltr')
            let article = articles[i]
            Ptag.appendChild(document.createTextNode(article));
            contentTag.appendChild(Ptag);

            //add line
            let hrtag = document.createElement("hr")
            hrtag.setAttribute('class','mb-4 mt-4 fileLine')
            contentTag.appendChild(hrtag);
            
        }
    }
    function setPageName(name){
        pageName.innerHTML = name
    }
    function createFileNameTag(name){
        let PTitleTag = document.createElement("p");
        let fileStr = ''
        if(filenames.length != 0){
            fileStr = 'file: '+name
        }
        PTitleTag.appendChild(document.createTextNode(fileStr))
        PTitleTag.setAttribute('class','fw-bold fs-5 filename')
        return PTitleTag
    }
    function disabledContentField(){
        contentfield.style.display = 'none'
    }
    function enableContentField(){
        contentfield.style.display = 'block'
    }
    
    
</script>
</html>